:root {
  --app-bg-color: rgb(206, 25, 25);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.app {
  min-height: 100vh;
}
/* header */
/* main */
main {
  /* background-color: aqua; */
  margin-top: 50px;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  /* display: flex;
    flex-direction: column; */
}
/* section */
section {
  min-height: 80vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.home-section {
  row-gap: 5px;
}
.home-box {
  padding-top: 30px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.box1-txt {
  max-width: 500px;
}
/* home-box box2 */
.box2 {
  /* background: #000; */
  /* width: 100%; */
  display: flex;
  flex-direction: column;
}
.sec-box {
  width: 100%;
  /* background-color: yellow; */
}
.sec-box1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.external-frame {
  border: 2px solid rgb(0, 0, 0);
  max-width: 200px;
  height: 300px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.internal-frame {
  width: 90%;
  height: 90%;
  border-radius: 50%;
  background: linear-gradient(white, purple);
}
.my-img {
  width: 100%;
  border-radius: 50%;
}
.sec-box2 {
  margin-top: 10px;
  padding: 15px;
  display: flex;
  flex-direction: column;
}
.sec-box1-content {
  margin-top: 10px;
  padding-left: 15px;
  border-left: 10px solid purple;
}
.sec-box3 {
  margin-top: 10px;
  padding: 15px;
  display: flex;
  flex-direction: column;
}
.sec-box3-content {
  margin-top: 10px;
  padding-right: 15px;
  border-right: 10px solid purple;

  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 900px) {
  .box2 {
    /* background: #000; */
    display: flex;
    flex-direction: row;
  }
  .sec-box {
    /* background-color: rgb(255, 153, 0); */

    display: flex;
  }
  .sec-box2 {
    margin-top: 10px;
    padding: 15px;
  }
  .sec-box1 {
    order: 2;
    /* background: #000; */
    
  }
  .sec-box3 {
    order: 3;
    margin-top: 10px;
    padding: 15px;
  }
}
/* skill */
.skills-section{
    background-color: blue;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
.skills-header{
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.skills-section-box1{
    background-color: aqua;
}
.skills-section-box2{
    background-color: aqua;
}
