:root {
  --app-bg-color: rgb(219, 218, 218);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.app {
  min-height: 100vh;
  background-color: var(--app-bg-color);
}
/* header */
/* main */
main {
  /* background-color: aqua; */
  margin-top: 50px;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  /* display: flex;
    flex-direction: column; */
}
/* section */
section {
  min-height: 80vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.home-section {
    background: #fff;
  row-gap: 5px;
}
.home-box {
  padding-top: 30px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.box1-txt {
  max-width: 500px;
}
/* home-box box2 */
.box2 {
  /* background: #000; */
  /* width: 100%; */
  display: flex;
  flex-direction: column;
}
.sec-box {
  width: 100%;
  /* background-color: yellow; */
}
.sec-box1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.external-frame {
  border: 2px solid rgb(0, 0, 0);
  max-width: 150px;
  height: 250px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.internal-frame {
  width: 90%;
  height: 90%;
  border-radius: 50%;
  background: linear-gradient(white, purple);
}
.my-img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.sec-box2 {
  margin-top: 10px;
  padding: 15px;
  display: flex;
  flex-direction: column;
}
.sec-box1-content {
  margin-top: 10px;
  padding-left: 15px;
  border-left: 10px solid purple;
}
.sec-box3 {
  margin-top: 10px;
  padding: 15px;
  display: flex;
  flex-direction: column;
}
.sec-box3-content {
  margin-top: 10px;
  padding-right: 15px;
  border-right: 10px solid purple;

  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 900px) {
  .box2 {
    /* background: #000; */
    display: flex;
    flex-direction: row;
  }
  .sec-box {
    /* background-color: rgb(255, 153, 0); */

    display: flex;
  }
  .sec-box2 {
    margin-top: 10px;
    padding: 15px;
  }
  .sec-box1 {
    order: 2;
    /* background: #000; */
    
  }
  .sec-box3 {
    order: 3;
    margin-top: 10px;
    padding: 15px;
  }
}
/* skill */
.skills-section{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
.skills-header{
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.skills-section-box1{
    /* background-color: aqua; */
    padding: 70px;

}
.skills-section-box2{
    padding: 70px;
    /* background-color: aqua; */
}
@media screen and (min-width:900px) {
    .skills-section{
        display: flex;
        flex-direction: column;
        row-gap: 10px;
    }
    .skills-header{
        padding-top: 40px;
        display: flex;
        flex-direction: column;
        align-items:center;
    }
    .skills-flex{
        display: flex;
        flex-direction: row;
    }
    .skills-section-box1{
        width: 50%;
    }
    .skills-section-box2{
        width: 50%;
    }
}

.qualification-section{
    padding-top: 80px;
    background-color: #fff;
}
.qualification-header{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.qualification-flex{
    display: flex;
    flex-direction: column;
}
.qualification-box1{
    padding-top: 30px;
    display: flex;
    flex-direction: column;
}
.work{
    display: flex;
    justify-content: center;
}
.study{
    border-left: 10px solid purple;
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}
@media screen and (min-width:900px) {
    .qualification-flex{
        display: flex;
        flex-direction: row;
    }
    .qualification-box1{
        width: 50%;
        padding-top: 30px;
        display: flex;
        flex-direction: column;
    }
    .qualification-box2{
        width: 50%;
        padding-top: 30px;
        display: flex;
        flex-direction: column;
    }
}
.services-section{
    padding-top: 60px;
}
.services-header{
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* no at media screen */

.Projects-section{
    padding-top: 50px;
    background-color: #fff
}
.projects-header{
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* to be contd */

.contact-section{
    padding-top: 10px;
}
.contacts-header{
    display: flex;
    flex-direction: column;
    align-items: center;
}
footer{
    min-height: 10vh;
    background-color: #f5f5f5;
}
