:root{
    --app-bg-color:rgb(206, 25, 25);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.app{
    min-height: 100vh;
}
.main-container{
    /* background-color: yellow; */
}
section{
    min-height: 80vh;
}
.section-container{

}
.home-container{
    width: 100%;
    margin-top: 60px;
    height: 80vh;

    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
.home-box{
    /* background-color: blue; */
    width: 100%;
}
.box2{
    height: 80%;

    display: flex;
    /* flex-direction: column; */
    align-items: center;
    /* justify-content: end; */
    column-gap: 10px;

}
.sec-box{
    /* border: 2px solid; */
    /* background-color: aqua; */
    flex-grow: 1;
    display: flex;

}
.sec-box1{
    width: 20%;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}
.sec-box1-content{
    border-left: 5px solid purple;
    padding-left: 5px;
}
.sec-box2{
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sec-box3{
    width: 20%;

    display: flex;
    flex-direction: column;
    align-items: end;
}
.sec-box3-content{
    border-right: 5px solid purple;
    padding-right: 5px;
}
.sec-box2{
    display: flex;
    align-items: center;
    justify-content: center;
}
.external-frame{
    border: 2px solid;
    width: 60%;
    height: 300px;
    border-radius: 100px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.internal-frame{
    background: linear-gradient(white,purple);
    width: 80%;
    height: 90%;
    border-radius: 100px;  
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.my-img{
    /* border: 2px solid red; */
    width: 90%;
    height: 90%;
    border-radius: 110px;
}


/* next section skills */
.skills-section{
    margin-top: 100px;
    padding-top: 70px;
}